denys-personal-source.space, www.denys-personal-source.space {
    root * /usr/share/caddy
    file_server

    # Доступ к Swagger
    reverse_proxy /docs backend:8000
    reverse_proxy /openapi.json backend:8000

    # Стандартные пути
    reverse_proxy /user/* backend:8000
    reverse_proxy /debt/* backend:8000
    reverse_proxy /users backend:8000
    reverse_proxy /ws/* backend:8000
    reverse_proxy /currency backend:8000

    #Вебхук для деплоя
    reverse_proxy /deploy* backend:8000
}