denys-personal-source.space, www.denys-personal-source.space {
    # 1. Сначала проверяем пути, которые должны уходить в Python
    # Добавляем звездочку к /admin*, чтобы ловить /admin/statics, /admin/user и т.д.
    @backend {
        path /admin* /docs* /openapi.json* /v2* /user* /debt* /users* /ws* /currency* /confirmations*
    }

    handle @backend {
        reverse_proxy backend:8000
    }

    # 2. Только если путь не совпал с верхним списком, ищем статику (фронтенд)
    handle {
        root * /usr/share/caddy
        file_server
        try_files {path} /index.html
    }
}